---
export interface Props {
  title: string;
  description: string;
  appUrl: string | undefined;
  githubUrl: string | undefined;
  technologyIconsPath: string | undefined;
}

const { title, description, appUrl, githubUrl,technologyIconsPath } = Astro.props;

// let { title, description, pubDate, url } = Astro.props;
// const shortDate = new Date(pubDate).toLocaleDateString("en", {
//   dateStyle: "short",
// });
// url = url + "/";
---

<div class="flex flex-col gap-2 sm:grid-cols-4 leading-relaxed rounded-2xl border-zinc-700 dark:text-zinc-400 mb-10">
    <h3 class="text">{title}</h3>
    <p>{description}</p>

    {githubUrl ? <a href={githubUrl}>Github link</a> : null}
  <!-- <a class="col-span-3 flex flex-col gap-2 sm:gap-4 p-5 my-2 hover:dark:bg-zinc-800 hover:bg-zinc-200 rounded-lg transition-colors shadow-md" href={url}>
    <time class="shrink-0 text-base sm:hidden">{shortDate}</time>
    <span class="flex items-center justify-between mb-1"><h2 class="text-xl text-black dark:text-white">{title}</h2><time class="shrink-0 text-base hidden sm:block">{shortDate}</time></span>
  </a> -->
</div>